.light-color {
  color: rgb(227, 227, 227);
}

ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 0 !important;
}

img {
  display: block;
  max-width: 100%;
}

// slider
.slide-items {
  .slick-slide {
    display: flex !important;
    justify-content: center;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;

  li {
    button {
      font-size: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: none;
      margin: 0 3px;
    }

    &.slick-active {
      button {
        background-color: antiquewhite;
      }
    }
  }

}